@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fugaz+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #01011e; /* Nouveau fond global */
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

.fugaz { font-family: 'Fugaz One', sans-serif; text-transform: uppercase; font-style: italic; }
.dm { font-family: 'DM Sans', sans-serif; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.animate-fade-in { animation: fadeIn 0.3s ease-in-out; }

@keyframes pulseSoft { 
  0%, 100% { opacity: 1; transform: scale(1); } 
  50% { opacity: 0.7; transform: scale(1.1); } 
}
.animate-pulse-soft { animation: pulseSoft 2s infinite ease-in-out; }